data_directory = '${data_dir}'
hba_file = '${config_dir}/pg_hba.conf'
ident_file = '${config_dir}/pg_ident.conf'
external_pid_file = '${pid_file}'
port = ${port}
unix_socket_directory = '${socket_dir}'
ssl = ${ssl}
shared_buffers = ${shared_buffers} 
temp_buffers = ${temp_buffers} 
work_mem = ${work_mem} 
fsync = ${fsync} 
synchronous_commit = ${synchronous_commit}
wal_sync_method = ${wal_sync_method}
wal_buffers = ${wal_buffers}
client_min_messages = ${client_min_messages}
log_min_messages = ${log_min_messages}
log_error_verbosity = ${log_error_verbosity}
log_min_error_statement = ${log_min_error_statement}
log_min_duration_statement = ${log_min_duration_statement}
silent_mode = ${silent_mode}
log_line_prefix = '${log_line_prefix}'
track_activities = ${track_activities}
track_counts = ${track_counts}
log_parser_stats = ${log_parser_stats}
log_planner_stats = ${log_planner_stats}
log_executor_stats = ${log_executor_stats}
log_statement_stats = ${log_statement_stats}
update_process_title = ${update_process_title}
wal_writer_delay = ${wal_writer_delay}
bgwriter_delay = ${bgwriter_delay}
bgwriter_lru_maxpages = ${bgwriter_lru_maxpages}
bgwriter_lru_multiplier = ${bgwriter_lru_multiplier}
max_fsm_pages = ${max_fsm_pages}
max_fsm_relations = ${max_fsm_relations}
maintenance_work_mem = ${maintenance_work_mem}
max_files_per_process = ${max_files_per_process}
commit_delay = ${commit_delay}
commit_siblings = ${commit_siblings}
debug_print_parse = ${debug_print_parse}
debug_print_rewritten = ${debug_print_rewritten}
debug_print_plan = ${debug_print_plan}
debug_pretty_print = ${debug_pretty_print}
log_checkpoints = ${log_checkpoints}
log_connections = ${log_connections}
log_disconnections = ${log_disconnections}