#!/usr/bin/env python

import os
import sys

from optparse import OptionParser


BIN_DIR = '{{bin_dir}}'
DATA_DIR = '{{socket_dir}}'
LOGFILE = '%s/logfile' % (DATA_DIR)


def start(logfile):
    # Wait at most five seconds for the server to start
    os.system('%s/pg_ctl -D %s -w -t 5 -l %s start' % (BIN_DIR, DATA_DIR, logfile))

def stop():
    # Wait at most five seconds for the server to stop
    os.system('%s/pg_ctl -D %s -w -t 5 -m fast stop' % (BIN_DIR, DATA_DIR))


def main():
    usage = "usage: %prog [options] arg"
    parser = OptionParser(usage)
    parser.add_option("-l", "--logfile", dest="logfile",
                      default=LOGFILE,
                      help="log file")

    (options, args) = parser.parse_args()
    if len(args) != 1:
        parser.error("incorrect number of arguments")

    if args[0] == 'start': start(options.logfile)
    if args[0] == 'stop': stop()


if __name__ == '__main__':
    main()

# vim:ft=python
