data_directory = '{{data_dir}}'
hba_file = '{{config_dir}}/pg_hba.conf'
ident_file = '{{config_dir}}/pg_ident.conf'
external_pid_file = '{{pid_file}}'
listen_addresses = '{{listen_addresses}}'
unix_socket_directory = '{{socket_dir}}'
port = {{port}}
